* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
  font-family: 'Segoe Ui', Helvetica Neue, Helvetica, Lucida Grande, Arial;
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
}

:root {
  --background-primary: rgba(240, 242, 245, 1);
  --background-secondary: rgba(255, 255, 255, 1);
  --border-box: rgba(233, 237, 239, 1);
  --icon-color: rgba(84, 101, 111, 1);
  --chat-hover: rgba(245, 246, 246, 1);
}